.page-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-bg);
}

.content-wrapper {
  padding-top: 2rem; /* Abstand für den fixed Header */
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.side-by-side-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
}

.content-box {
  flex: 1;
  max-width: 500px;
}

/* Für mobile Ansicht */
@media (max-width: 768px) {
  .side-by-side-container {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .content-box {
    width: 100%;
  }
}
