.filter-container {
    display: flex; 
}

.dropdown {
    margin: 50px;
    
}

.menu {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    
}

.menu-button {
    background-color: #4a4a4a;
    color: white;
}

.menu-item {
    margin: 5px;
}