.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.filters-section {
  max-height: 170px;
  overflow-y: auto;
  padding-right: 1em;
}

.FilterButtons {
  display: flex;
  gap: 1em;
  padding-left: 2em;
  margin-top: 0.3em;
}

.apply-Button {
  background-color: #008000;
}
.reset-Button {
  background-color: #b00000;
}
.table-section {
  flex: 1;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.report-section {
  margin-top: auto;
}
